.App {
  padding-right: 30px;
}
.loot-item {
  margin-bottom: 20px;
}

.stats {
  margin-bottom: 20px;
}

.other-stats {
  margin-bottom: 40px;
}

.ac {
  background: url(img/black-shield.svg) bottom center no-repeat;
  width: 41px;
  height: 50px;
  background-size: 40px;
  color: white;
  display: inline-block;
  position: relative;
  font-size: .6em;
  text-align: center;
  margin-right: 10px;
}

.heart {
  background: url(img/heart.svg) bottom center no-repeat;
  background-size: 40px;
  height: 39px;
  width: 42px;
  float: right;
  position: relative;
  top: 17px;
  margin-left: 5px;
}

.ac > span {
  position: relative;
  top: 11px;
}

h1.char-name > span {
  position: relative;
  top: 15px;
  margin-right: 20px;
}

.anchor-button {
  background: none;
  border: none;
  padding: 0;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 5px;
}

.ammo-indicator {
  width: 50%;
}

.loot-list-header {
  margin: 30px 0;
}

.loot-equipped {
  background: url(img/check-mark.svg) bottom center no-repeat;
  background-size: 25px;
  height: 26px;
  width: 27px;
  display: inline-block;
  position: relative;
  top: 8px;
  margin-right: 10px;
}
